.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}
body, html {
    font-size: 100%;
    background-color: transparent;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    min-height: 355px;
}
#application {
    height: 100%;
}
#application .heighted{
    height: 100%;
}
.header{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 30px;
    height: 60px;
    width: 100%;
    background: black;
}
.header img{
    position: relative;
    margin: 0px  5px 0 15px ;
    height: 60px;
}
/*Жуткий хедер спан, думаю ндо подругому написать*/
.header span{
    height: 60px;
    position: fixed;
    top: 5px;
    font-size: 3em;
    color: white;
    margin: auto 0px;
    line-height: 1;
}
/*for all that have to be squared углы*/
.squaredBorders{
    border-radius: 0px;
}





.roxana-map {
    position: fixed;
    top: 60px;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
.pop-up-default > button{
    margin-top: 10px;
    width: 100%;
}
.pop-up{
    min-width: 215px;
    min-height: 10px;
}

.pop-up > button{
    margin-top: 10px;
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
}
.pop-up > i{
    position: relative;
    top: 10px;
    margin-top: 5px;
    margin-right: 5px;

}
.liked {
    color: red;
}
.show {
    display: block;
}
.hide {
    display: none;
}

#menu,
#menuLink{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.menu-link{
    position: fixed;
    top: 60px;
    left: 0px;
    background: #000;
    background: rgba(55,55,55,0.5);
    font-size: 10px;
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.menu-link:hover,
.menu-link:focus {
    background: rgba(55,55,55,0.5);
}

.menu-link span {
    position: relative;
    display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}
.menu-link span:after {
    margin-top: 0.6em;
}
#menuLink.active{
    left: 453px;
}
#menu{
    position:fixed;
    width: 450px;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    top: 60px;
    z-index: 950;
    left: -500px;
    background: rgba(33, 33, 33, 0.7);
    overflow-y: auto;
}
#menu.active{
    left: 0px;
}
#navTabs{
    margin: 3px;
    width: 100%;
}
#search-form {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0.6em 0 0.6em 0.6em;
    padding: 2px 0px 2px 0.6em;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
}
/*Here we go to change navbar default bootstrap */
#navTabs{
    margin: 0px;
    height: 100%;
}
#navTabs > ul{
    border-bottom: 0px;
}
#navTabs > ul > li{
    width: 50%;
    text-align: center;
    margin: 0px;
}
.nav >li > a { /*lichniy cabinet shown correctly on iphone 5 with this one*/
    padding: 10px 14px;
}
#tabList .active a{
    background: rgba(33,33,33,0);
}
#tabList .active a:hover{
    background: rgba(33,33,33,0);
}
#tabList .disactive a{
    background: rgba(33,33,33,0.6);
}
#tabList a{
    color: #FFF;
    border: 0px;
    margin-right: 0px;
    border-radius: 0px;
}
#tabList a:hover{
    background: rgba(100,250,100,0.6);
}
#unknownMenuList{
    width: 100%;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    margin: 0px;
    padding: 5px;
}
#unknownMenuList .historyList{
    background: rgba(44,44,44,0.7);
    margin: 30px;
    color: white;
    padding-left: 15px;
    padding-top: 1px;
}
#unknownMenuList .historyList .historyItem{
    margin-top: 15px;
    border-bottom: 1px solid;
    font-size: 110%;
}
#unknownMenuList .historyItem .arrowIcon{
    color: rgba(100,250,100,0.6);
    margin-left: -moz-calc(50% - 18px);
    margin-left: -webkit-calc(50% - 18px);
}
#unknownMenuList .historyItem i{
    padding: 0px 4px;
    margin-top: -8px;
    margin-right: 2px;
    color: white;
    float: right;
}

#knownMenuList .searchComponent{
    width: 100%;
    margin-bottom: 15px;
}
#knownMenuList .searchComponent .form-group{
    margin-bottom: 0px;
}
#knownMenuList .searchComponent #searchResult{

    position: absolute;
    background: white;
    z-index: 1000;
    height: 50px;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);

}

#knownMenuList #addFilters{
    margin-bottom: 10px;
}
#knownMenuList #filterScope{
    margin: 5%;
    width: 100%;
}
#knownMenuList #filterScope >ul> li{
    margin-top: 5%;
    width: 100%;
    color: black;
}
#knownMenuList #filterScope >ul>li>small{
    color: white;
}
#knownMenuList{
    width: 100%;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    margin: auto;
    padding: 10px 50px;
}
#knownMenuList .typeFilter > div > ul >li {
    width: 118px;
    color: white;
}
#knownMenuList .typeFilter  > div  > ul >li >a{
    color: white;
    text-decoration: none;
}
#knownMenuList .typeFilter  > div  > ul >li >a:hover{
    background: rgba(100,250,100,0.6);
}
#knownMenuList .typeFilter  > div  > ul >li >a.active{
    background: rgba(100,250,100,0.6);
}
#knownMenuList .cpFilter{
    color: white;
    padding: .5em 1em;
}
#knownMenuList .cpFilter b {
    text-transform: uppercase;
}
#knownMenuList .range {

    margin: 0 0 1em 0;
    cursor: default;
}
#knownMenuList .range >i:hover {
    color: red;
}
#knownMenuList .cost i.chosen {
    color: #01ff0b;
}
#knownMenuList .like i.chosen {
    color: red;
}
#knownMenuList .checkin i.chosen {
    color: blue;
}
#routeList {
    background: rgba(44,44,44,0.7);
    overflow: auto;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.standart-coursor{
    cursor: pointer;
}

#routeList .routeListElem .state{
    align-self: center;
    align-items: center;
    display: inline-flex;

}

#routeList .change-ent-order{
    color: white;
    width: 5%;

}
#routeList .delete {
    position: relative;
    left: 10px;
    color: white;
    width: 5%;
}
#routeList .routeListElem{
    display: inline-flex;
    width: 100%;
}


#routeList .routeListElem > .props{
    width: 80%;
    border-bottom: 1px solid  white;
    margin: 10px 10px 0 10px;
    color: white;

}
#routeList .routeListElem > .props > small {
    float: right;

}
#buildRoute{
    margin-top: 5px;
    width: 159px;
    margin-right: 2% ;
}
#routeList #clrBtn{
    margin-top: 15px;
    width: 49%;
    margin-right: 2% ;
}
#routeList #saveBtn{
    margin-top: 15px;
    width: 49%;
}
#routeList br{
    line-height: 50%;
}
#routeList .successSave{
    font-size: 110%;
    color: white;
}

/*marker type*/
.mapMarker {
    font-size: 40px;
    display: inline-block;
}
.mapMarker > small {
    font-size: 20px;
    display: inline-block;
}




@media (max-width: 500px){
    #menu{
        width: 100%;
    }
    #menuLink.active{
        visibility: hidden;
    }
}
@media (max-width: 320px) {
    .header img {
        margin: 0px 5px 0 -moz-calc(50% - 40px);
        margin: 0px 5px 0 -webkit-calc(50% - 40px);
    }
    #headerSpan{
        visibility: hidden;
    }    
}
@media (max-width: 317px) { /*<318*/
    .nav > li > a {
        height: 64px;
    }
}
