.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

body, html {
    font-size: 100%;
    background-color: transparent;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    min-height: 355px;

}
#application {
    height: 100%;
}
#application .heighted{
    height: 100%;
}

.header{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 30px;
    height: 60px;
    width: 100%;
    background: black;

}
.header img{
    position: relative;

    margin: 0px  5px 0 15px ;
    height: 60px;

}
/*Жуткий хедер спан, думаю ндо подругому написать*/
.header span{
    height: 60px;
    position: fixed;
    top: 5px;
    font-size: 3em;
    color: white;
    margin: auto 0px;
    line-height: 1;

}
/*for all that have to be squared углы*/
.squaredBorders{
    border-radius: 0px;
}