#routeList {
    background: rgba(44,44,44,0.7);
    overflow: auto;
    padding: 5px;
    margin-top: 15px;
}
#routeList .routeListElem{
    border-bottom: 1px solid  white;
    margin: 10px 10px;
    color: white;

}
#routeList .routeListElem > small {
    float: right;

}
#routeList #clrBtn{
    margin-top: 15px;
    width: 49%;
    margin-right: 2% ;
}
#routeList #saveBtn{
    margin-top: 15px;
    width: 49%;
}
#routeList br{
    line-height: 50%;
}
#routeList .successSave{
    font-size: 110%;
    color: white;
}
